openapi: 3.0.3
servers:
  - url: http://dreamscore.sigma5.link:8080/score/v3
info:
  version: "1.1.1"
  title: API for score
  description: API
security:
  - ApiTokenAuth: []
paths:
  /{app}/sections:
    get:
      description: Get list of section for app
      parameters:
        - name: app
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Section'
        '400':
          description: Invalid status value
  /{app}/{section}/user:
    get:
      description: Get records with score for user
      parameters:
        - name: app
          in: path
          required: true
          schema:
            type: string
        - name: section
          in: path
          required: true
          schema:
            type: string
        - name: user
          in: query
          required: false
          schema:
            type: string
            example: Jon Doe
        - name: id
          in: query
          required: false
          description: Get records after this ID (cursor pagination)
          schema:
            type: string
        - name: count
          in: query
          required: false
          schema:
            type: integer
            maximum: 100
        - name: deviceId
          in: query
          required: false
          description: Device identifier for local score
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Score'
        '400':
          description: Invalid status value
  /{app}/{section}/id/{id}:
    get:
      description: Get score around record with ID
      parameters:
        - name: app
          in: path
          required: true
          schema:
            type: string
        - name: section
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: "507f1f77bcf86cd799439011"
        - name: count
          in: query
          required: false
          schema:
            type: integer
            maximum: 100
            default: 10
        - name: deviceId
          in: query
          required: false
          description: Device identifier for local score
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Score'
        '400':
          description: Invalid status value
  /{app}/{section}:
    get:
      description: Get top <count> records
      parameters:
        - name: app
          in: path
          required: true
          schema:
            type: string
        - name: section
          in: path
          required: true
          schema:
            type: string
        - name: positionToSkip
          in: query
          required: false
          schema:
            type: integer
            default: 0
          example: 0
        - name: count
          in: query
          required: false
          example: 10
          schema:
            type: integer
            maximum: 100
            default: 10
        - name: deviceId
          in: query
          required: false
          description: Device identifier for local score
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Score'
        '400':
          description: Invalid status value
    post:
      parameters:
        - name: app
          in: path
          required: true
          schema:
            type: string
        - name: section
          in: path
          required: true
          schema:
            type: string
        - name: deviceId
          in: query
          required: false
          description: Device identifier for local score
          schema:
            type: string
      summary: Add a new score to the store
      description: Add a new score to the store
      operationId: newScore
      requestBody:
        description: Create a new score in the store
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Score'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                title: Scores around the newly added record
                type: array
                items:
                  $ref: '#/components/schemas/Score'
        '405':
          description: Invalid input
components:
  securitySchemes:
    ApiTokenAuth:
      type: apiKey
      in: header
      name: X-Api-Token
  schemas:
    Section:
      type: object
      properties:
        id:
          type: string
          example: english-easy
        name:
          type: string
          example: English with basic set
    Score:
      type: object
      properties:
        id:
          type: string
          example: "507f1f77bcf86cd799439011"
        position:
          type: integer
          example: 3
        score:
          type: integer
          format: int64
          example: 10
        name:
          type: string
          example: Jon
        date:
          type: string
          format: date-time
        subscription:
          title: Subscription to check
          type: string
          example: SDFRTSDERERFGKE
        app:
          type: string
        section:
          type: string
        selected:
          type: boolean
          default: false
        deviceId:
          title: Device for local score
          type: string
